@charset "utf-8";
/* CSS Document */


.ll_ph{
    height:30px;
    border-bottom:#e1e3e4 solid 1px;
    padding:0 20px;
}
.ll_jl_text{
    float:left;
    font-size:18px;
    color:#333333;
}
.ll_week_text{
    float:right;
    font-size:14px;
    color:#808080;
    height:30px;
    position:relative;

}
.ll_mourth_text{
    float:right;
    font-size:14px;
    color:#808080;
    height:30px;
    margin-left:13px;
    position:relative;
}
.ll_jt{
    position:absolute;
    left:8px;
    bottom:-1px;
    z-index:2;
}


.ll_mourth_text .link{
    color:#808080;
    text-decoration:none;
}
.ll_week_text .link{
    color:#808080;
    text-decoration:none;
}
.jl_list li{
    padding:15px 20px 0 ;
    position:relative;
    border-bottom:1px #e1e3e4 dashed;
}
.jl_list_num_red{
    float:left;
    background:url(images/num_red.png) no-repeat;
    width:17px;
    height:17px;
    line-height:17px;
    text-align:center;
    font-size:12px;
    color:#fff;
    margin-right:10px;
}
.jl_list_num_hui{
    float:left;
    background:url(images/num_hui.png) no-repeat;
    width:17px;
    height:17px;
    line-height:17px;
    text-align:center;
    font-size:12px;
    color:#fff;
    margin-right:10px;
}
.jl_list_text{
    width:195px;
    overflow:hidden;
    font-size:12px;
    color:#666;
    float:left;
    padding-bottom:17px;
    line-height:20px;
    margin-top:-3px;
    height:5px;
}
.jl_list{
    width:270px;
}
.sishu{
    font-size:12px;
    color:#969696;
    margin-left:25px;
    padding-bottom:10px;
}
.doc_ads{
    margin:0 0 30px 0;
}
.ll_jl_list{
    width: 263px;
    height: auto;
    border: solid 1px #e3e3e8;
    box-shadow: 0px 2px 2px #e3e3e8;
    background: #fff;
    margin-bottom: 20px;
}
.ll_jl_list .ll_ph{
    height:58px;
    line-height:58px;
}
.ll_jl_list .ll_jt{
    bottom:-29px;
    width:7px; height:4px;
    background: #fff url(images/t_jt.png) 0 0 no-repeat;
}
.ll_mourth_text a,.ll_week_text a{
    color:#808080;
    text-decoration:none;
}
.ll_jt{
    display:none;
}
.jl_list .ll_ph .on .ll_jt{
    display:block;
}
.jl_list .ll_ph .on .hover{
    color:#3d84c6;
    text-decoration:none;
}
