/**
    名片样式
*/
@charset "utf-8";
/* CSS Document */

.name-card-box {
   /* position: relative;


    border: solid 1px #dddde2;*/
    width: 300px;
    height: auto;
    padding: 16px;
}

/*
.name-card-box .info_jt {
    background: url(images/jt.png) no-repeat;
    width: 10px;
    height: 6px;
    position: absolute;
    left: 30px;
    top: -6px;
    z-index: 2;
}
*/

.name-card-box .info_left,.name-card-box  .info_right {
    float: left;
}

.name-card-box .info_left img {
    border-radius: 50%;
    margin-right: 10px;
}

.name-card-box .info_name {
    font-size: 14px;
}

.name-card-box .info_name a {
    color: #333;
    text-decoration: none;
}

.name-card-box .info_zhiwei {
    font-size: 12px;
    color: #969696;
    margin-top: 5px;
}

.name-card-box .info_zhiwei span {
    margin-right: 10px;
}

.name-card-box .info_right .info_jh .info_gz {
    padding: 0 10px;
    float: left;
    border-right: solid 1px #969696;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #969696;
    margin-top: 5px;
}

.name-card-box .info_jh .info_gz span {
    margin-left: 10px;
    font-size: 12px;
}

.name-card-box .info_num {

}
.name-card-box a{
    text-decoration:none;
}

.name-card-box a:link .info_num,
.name-card-box a:hover .info_num,
.name-card-box a:active .info_num,
.name-card-box a:visited .info_num{
    color: #3d84c6;
    text-decoration: none;
}

.name-card-box .list_info_bg {
    padding: 16px 20px;
    width: 306px;
    border: solid 1px #dddde2;
}

.name-card-box .gz_but {
    margin-top: 10px;
}