a {
    color: #036eb8;
    text-decoration: none;
}

.login_content {
    width: 340px;
    margin: 0 auto;
    text-align: center;
}

.pop-up .login_logo {
    margin: 0px 0 70px 0;
}

.login_logo {
    margin: 100px 0 70px 0;
}

/**输入框下提示信息 */
.l_warning {
    text-align: left;
    font-family: "宋体";
    height: 12px;
    margin-top: 8px;
    line-height: 12px;
    display: none;
}

.l_warning label span {
    color: #798794;
}

.l_warning span label {
    color: #E64638;
}

.errorMsg{

}


.error_bg {
    height: 35px;
    margin: 5px 0 0 -1px;
    color: red;
    text-align: left;
    display: none;
}

.error_bg img {
    float: left;
    margin: 2px 12px 0 10px;
}

.error_biao{
    font-family:"宋体";
}
/** 输入框下提示信息end  */
.v2-uploadImg {
    width: 40px;
    height: 40px;
    float: right;
    overflow: hidden;
}

/* 输入框相关 **/
.input-border.hover {
    border: 1px solid #63ade4;
    box-shadow: 0 0 3px #3997d5;
    position: relative;
}

.input-border {
    border: 1px solid #BFC7D1;
    border-radius: 4px;
}

.input-border.input-error, .input-border.input-error.hover {
    border: 1px solid #e24a4a;
    box-shadow: 0 0 6px #e24a4a;
}

.login_input, .rz_input,.password_input {
    margin-bottom: 12px;
}

.login_input input, .password_input input {
    width: 280px;
    padding-left: 30px;
    margin-left: 15px;
}

.login_input input {
    background: url(/v2/js/module/user/images/user_img.jpg) no-repeat left center;
}

.login_input .hover input,.login_input .input_error input {
    background: url(/v2/js/module/user/images/user_img_hover.jpg) no-repeat left center;
}

.password_input input {
    background: url(/v2/js/module/user/images/password_img.jpg) no-repeat left center;
}

.password_input .hover input,.password_input .input_error input  {
    background: url(/v2/js/module/user/images/password_img_hover.jpg) no-repeat left center;
}

/* 输入框 表单 **/
.input-wrap {
    background: white;
    position: relative;
    height: 50px;
    text-align: left;
}

.input-wrap input {
    height: 50px;
    line-height: 50px;
    border: none;
    font-size: 16px;
    color: #7a8795;
    font-family: microsoft yahei;
}


.ming_input, .sc_img02 {
    margin-left: 10px;
    float: right;
}

.name_input {
    margin-bottom: 12px;
    height: auto;
}

.xing_input,.ming_input {
    width: 165px;
}
.ming_input{
    float: right;
}

.xing_input input, .ming_input input {
    width: 140px;
    margin-left: 14px;
    overflow: hidden;
}

.rz_input{
    margin-bottom:12px;
    height: auto;
}
.rz_input input{
    margin-left:14px;
    width:300px;
    padding-right: 15px;
}
.lk_input {
    padding-left: 14px;
    color: #9eafc2;
    text-align: left;
}

.lk_input .medicalShow {
    padding-top: 12px;
    height: 34px;
    overflow: auto;
}

.lk_input .medicalShow li {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    float: left;
    margin: 4px 5px;
}

.lk_input #proFieldshow {
    padding-top: 12px;
    height: 34px;
    overflow: auto;
}

.input_name {
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin-right: 14px;
}

.v2-uploadText.input_name{
    padding-left: 14px;
    color: #9eafc2;
}
/**输入框 end */

.login_content .pass{
    margin-top: 30px;
    color: #3D84C6;
}

.login_but {
    margin: 23px 0 15px 0;
}


.forget_password {
    /*	float:right; */
    font-size: 12px;
    color: #036eb8;
}

.forget_password a {
    color: #3d84c6;
    text-decoration: none;
}

.or {
    margin: 15px 0;
}

.three_login {
    color: #969696;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
    letter-spacing: 1px;
    margin-bottom: 18px;
}

.three_img li {
    float: left;
    width: 62px;
    text-align: center;
    margin: 20px 8px 15px 0;
}

.reg_position {
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 6;
}

/*注册*/
.jinggao, .ok{
    width:25px;
    height:25px;
    position: absolute;
    right: -35px;
    top: 12.5px;
    z-index: 2;
    display: none;
}
.jinggao{
    background:url(/v2/js/module/user/images/jinggao-right.png) no-repeat center;
}

.ok{
    background:url(/v2/js/module/user/images/ok.png) no-repeat center;
}
.jg_text {
    font-size: 12px;
    color: #7a8795;
    line-height: 30px;
    margin-top: -10px;
}

.jg_text span {
    color: #ff0000;
}

.yzm {
    height: 50px;
    position: relative;
}

.yzm .input-wrap{
    padding-right:3px;
}
.yzm div {
    float: left;
}

.yzm_input input {
    width: 163px;
    margin-left: 14px;
}

.yzm_img {
    margin: 0 10px;
}

.yzm_text {
    font-size: 12px;
    color: #036eb8;
    line-height: 50px;
}

.tk_text {
    text-align: left;
    font-size: 12px;
    color: #7a8795;
    padding-top: 10px;
}

.phone_img {
    margin-left: 10px;
}

.false {
    background: url(/v2/js/module/user/images/false.jpg) no-repeat left center;
    height: 16px;
    text-align: left;
    font-size: 12px;
    color: #e64638;
    line-height: 16px;
    padding-left: 25px;
    margin-left: 3px;
}

/*联合登录*/
.login_lh {
    margin: 170px 0 40px 0;
    font-size: 28px;
    color: #036eb8;
}

.pop-up {
    font-family: "Microsoft YaHei";
}

.pop-up .login_lh {
    margin: 0px 0 40px 0;
    font-size: 28px;
    color: #036eb8;
}

.tishi {
    font-size: 14px;
    color: #969696;
    text-align: left;
    margin: 0 0 15px 3px;
}

/*认证医师*/
.renzheng_content {
    width: 1000px;
    margin: 0 auto;
    padding: 200px 0 0 187px;
}

.only_yishi_img {
    float: left;
    width: 140px;
    height: 111px;
}

.only_yishi_text {
    float: left;
}

.only_title {
    font-size: 24px;
    color: #388ad7;
    margin-top: 15px;
}

.only_content {
    font-size: 15px;
    line-height: 20px;
    color: #7a8795;
    margin: 15px 0 35px 0;
}

.only_but div {
    float: left;
    line-height: 53px;
    margin-right: 14px;
    color: #036eb8;
    font-size: 12px;
}

.sc_img {
    margin-left: 5px;
    height: 100px;
}

.sc_img div {
    float: left;
}

.mengban {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}
/*认证弹层的单选 */
.rz-num-type{
    margin-bottom: 16px;
    margin-top: 16px;
    color: #969696;
}
.rz-num-type div {
    float: left;
    width: 99px;
    text-align: left;
    padding-left: 18px;
    font-size: 16px;
    cursor:pointer;
    color: #969696;
    background: url(/v2/js/module/user/images/radio-off.png) left center no-repeat;
}
.rz-num-type div.last,.rz-num-type div:nth-last-child(2){
    width:84px;
}
.rz-num-type div.on{
    background: url(/v2/js/module/user/images/radio-on.png) left center no-repeat;
}
/* 认证 为什么*/
.why-card-pop{
    padding:10px;
    color: #7a8795;
}
/*找回密码*/
.back_header {
    background: url(/v2/js/module/user/images/header_bg.jpg) repeat-x;
    height: 85px;
    line-height: 85px;
}

.allin_width {
    width: 1000px;
    margin: 0 auto;
}

.logo_back {
    padding-top: 18px;
    background: url(/v2/js/module/user/images/line.jpg) no-repeat right center;
    height: 67px;
    width: 156px;
    margin-right: 15px;
    float: left;
}

.zh_text {
    font-size: 24px;
    color: #fff;
    float: left;
}

.reg_login {
    float: right;
    font-size: 16px;
    color: #fff;
}

.reg_login a {
    color: #fff;
    text-decoration: none;
}

.jd_tiao {
    margin: 100px 0 85px;
}

.back_cont {
    padding-left: 219px;
}

.phone_text {
    background: url(/v2/js/module/user/images/phone.jpg) no-repeat;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    color: #7a8795;
    padding-left: 30px;
}

.back_input input {
    height: 50px;
    line-height: 50px;
    border: none;
    padding-left: 14px;
    background: url(/v2/js/module/user/images/input_kuang2.png) no-repeat;
    font-size: 16px;
    font-family: microsoft yahei;
    width: 326px;
    color: #b3bdc8;
}

.back_input div {
    float: left;
    margin: 0px 10px 25px 0;
}

.back_input {
}

.mail_text {
    background: url(/v2/js/module/user/images/mail.png) no-repeat left center;
    font-size: 16px;
    color: #7a8795;
    padding-left: 40px;
    line-height: 25px;
    margin-bottom: 27px;
    height: 25px;
}

.but div {
    float: left;
    margin-right: 10px;
    line-height: 50px;
    font-size: 12px;

}

.cry_text {
    background: url(/v2/js/module/user/images/cry.png) no-repeat;
    font-size: 16px;
    color: #7a8795;
    padding-left: 65px;
    line-height: 25px;
    height: 52px;
}

.yaoshi_text {
    background: url(/v2/js/module/user/images/yaoshi.png) no-repeat;
    font-size: 16px;
    color: #7a8795;
    padding-left: 43px;
    line-height: 25px;
    height: 33px;
    margin-bottom: 2em;
}

.zh_width {
    width: 375px;
    margin: 0 auto;
}

.cz_mm {
    font-size: 16px;
    color: #7a8795;
    margin-bottom: 40px;
}

.mm_input input {
    height: 50px;
    line-height: 50px;
    border: none;
    padding-left: 14px;
    background: url(/v2/js/module/user/images/input_kuang2.png) no-repeat;
    font-size: 16px;
    font-family: microsoft yahei;
    width: 326px;
    color: #b3bdc8;
    margin-bottom: 12px;
}

.mm_but {
    margin-top: 12px;
}

.zh_width02 {
    width: 220px;
    margin: 0 auto;
}

.cg_text {
    background: url(/v2/js/module/user/images/true.jpg) no-repeat;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    color: #7a8795;
    padding-left: 35px;
    margin-bottom: 20px;
}

.zh_width03 {
    width: 280px;
    margin: 0 auto;
}

/*注册引导*/
.recommend_content {
    padding-top: 100px;
}

.recommend_title {
    font-size: 24px;
    color: #046eb8;
    margin-left: 38px;
    margin-bottom: 12px;
}

.recommend_list {
    margin-left: 20px;
    position: relative;
}

.recommend_list li {
    width: 192px;
    text-align: center;
    float: left;
    background: url(/v2/js/module/user/images/yd_bg.png) no-repeat center;
    height: 255px;
    margin-bottom: 30px;
}

.tj_p_img {
    margin-top: 3px;

}

.tj_p_name {
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #808080;
    margin: 10px 0 0px 0;
}

.tj_p_yiyuan {
    font-family: "Microsoft Yahei";
    font-size: 12px;
    color: #808080;
    margin-bottom: 3px;
    overflow: hidden;
    height: 20px;
}

.enter_home {
    text-align: center;
}

.enter_home div {
    float: left;
}

.enter_home02 {
    text-align: center;
    margin-left: 375px;
}

.enter_home02 div {
    float: left;
}

.left_jt {
    position: absolute;
    left: -55px;
    top: 245px;
    z-index: 6;
}

.right_jt {
    position: absolute;
    right: -35px;
    top: 245px;
    z-index: 6;
}

.xuezu_list {
    margin-left: 25px;
}

.xuezu_list .small_bg {
    width: 190px;
    text-align: center;
    background: url(/v2/js/module/user/images/small_bg.png) no-repeat center;
    float: left;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
}

.xuezu_list .small_bg .add_small {
    background: url(/v2/js/module/user/images/add.png) no-repeat 57px center;
    padding-left: 30px;
    font-size: 20px;
    color: #8d939a;
}

.xuezu_list .small_bg .add_middle {
    background: url(/v2/js/module/user/images/add.png) no-repeat 48px center;
    padding-left: 30px;
    font-size: 20px;
    color: #8d939a;
}

.xuezu_list .small_bg .add_big {
    background: url(/v2/js/module/user/images/add.png) no-repeat 37px center;
    padding-left: 30px;
    font-size: 20px;
    color: #8d939a;
}

.xuezu_list .big_bg .add_big {
    background: url(/v2/js/module/user/images/add.png) no-repeat 37px center;
    padding-left: 30px;
    font-size: 20px;
    color: #8d939a;
}

.xuezu_list .big_bg {
    width: 273px;
    text-align: center;
    background: url(/v2/js/module/user/images/big_bg.png) no-repeat center;
    float: left;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
}

.small_hover {
    width: 190px;
    text-align: center;
    background: url(/v2/js/module/user/images/hover.png) no-repeat center;
    float: left;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
}

.xuezu_list .small_hover .add_small {
    background: url(/v2/js/module/user/images/dui.png) no-repeat 57px center;
    padding-left: 30px;
    font-size: 20px;
    color: #fff;
}

.xuezu_list .small_hover .add_middle {
    background: url(/v2/js/module/user/images/dui.png) no-repeat 48px center;
    padding-left: 30px;
    font-size: 20px;
    color: #fff;
}

.xuezu_list .hover_big_bg .add_big {
    background: url(/v2/js/module/user/images/dui.png) no-repeat 37px center;
    padding-left: 30px;
    font-size: 20px;
    color: #fff;
}

.xuezu_list .hover_big_bg {
    width: 273px;
    text-align: center;
    background: url(/v2/js/module/user/images/big_bg_hover.png) no-repeat center;
    float: left;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
}



.xuezu_list li {
    border: solid 1px #c0c8d1;
    border-radius: 6px;
    background: #fff;
    width: auto;
    text-align: center;
    height: 58px;
    line-height: 58px;
    padding: 0 20px;
    float: left;
    min-width: 120px;
    color: #8d939a;
    font-family: microsoft yahei;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 22px;
}

.xuezu_list li img {
    margin-right: 12px;
}

.xuezu_list li.yd_li_hover {
    border: solid 1px #008be3;
    border-radius: 6px;
    background: #008be3;
    width: auto;
    text-align: center;
    height: 58px;
    line-height: 58px;
    padding: 0 20px;
    float: left;
    min-width: 120px;
    color: #fff;
    font-family: microsoft yahei;
    margin: 0 30px 30px 0;
}

#getmesg {
}

#getmesg .btn {
    background: url(/v2/js/module/user/images/btn-bg-get-valid-code.png) repeat-x;
    text-align: center;
    font-size: 16px;
    color: #353535;
    width: 146px;
    height: 50px;
    margin: 0;
    padding: 0;
    line-height: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    cursor: pointer;
}

#getmesg .disabled {
    color: #969696;
    background: #f6f6f6;
}

/**/
#evProfessionClose, #evValidateClose, #evValidateAdd, .evProfessionChoose, #evProTrigger {
    cursor: pointer;
}

#evProfession, #evValidate {
    display: none;
}

/*关注的专业*/
.profession_content {
    width: 675px;
    height: auto;
    padding: 20px;
    background: #266ba2;
    border-radius: 6px;
    margin-bottom: 10px;
}

.profession_title {
    font-family: microsoft yahei;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
}

.profession_title .title_text {
    float: left;
}

.close02 {
    float: right;
}

.gz_xuezu {
    margin: 10px 0 30px 0;
}

.gz_xuezu li {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

.p_link .p_bg_left {
    background: url(/v2/js/module/user/images/p_bg_left.png) no-repeat;
    height: 36px;
    width: 16px;
    float: left;
}

.p_link .p_bg_center {
    background: url(/v2/js/module/user/images/p_bg_center.png) repeat-x;
    height: 36px;
    width: auto;
    font-size: 15px;
    font-family: microsoft yahei;
    color: #999999;
    float: left;
    line-height: 36px;
}

.p_link .p_bg_right, .p_active .p_bg_left {
    height: 36px;
    width: 16px;
    float: left;
}

.p_link .p_bg_right {
    background: url(/v2/js/module/user/images/p_bg_right.png) no-repeat;

}

.p_link .add_s {
    background: url(/v2/js/module/user/images/add_s.png) no-repeat left center;
    height: 36px;
    padding-left: 30px;
}

.p_active .p_bg_left {
    background: url(/v2/js/module/user/images/b_p_left.png) no-repeat;
}

.p_active .p_bg_center {
    background: url(/v2/js/module/user/images/b_p_center.png) repeat-x;
    height: 36px;
    width: auto;
    font-size: 15px;
    font-family: microsoft yahei;
    color: #fff;
    float: left;
    line-height: 36px;
}

.p_active .p_bg_right {
    background: url(/v2/js/module/user/images/b_p_right.png) no-repeat;
    height: 36px;
    width: 16px;
    float: left;
}

.p_active .add_s {
    background: url(/v2/js/module/user/images/true_s.png) no-repeat left center;
    height: 36px;
    padding-left: 30px;
}

.gz_but {
    text-align: center;
    margin-top: 30px;
}

.p_c_text {
    font-size: 15px;
    font-family: microsoft yahei;
    color: #fff;
}

.p_margin {
    margin-top: 20px;
}

.yd_li {
    border: solid 1px #c0c8d1;
    border-radius: 6px;
    background: #fff;
    width: auto;
    text-align: center;
    height: 58px;
    line-height: 58px;
    padding: 0 20px;
    float: left;
    min-width: 120px;
    color: #8d939a;
    font-family: microsoft yahei;
    margin-right: 30px;
    margin-bottom: 30px;
}

.yd_li img, .yd_li_hover img {
    margin-right: 12px;
}

.recommend_list .yd_li_hover {
}

.sc_img img {
    margin-bottom: 35px;
}

.sc_img_photo {
    position: relative;
    height: 140px;
}

.cx_sc_but {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}


.yes {
    position: absolute;
    right: -40px;
    top: 15px;
    z-index: 10;
    background: url(http://img00.allinmd.cn/reg/yes.png) no-repeat;
    width: 20px;
    height: 16px;
}

/**/
a.a_organization:link, a.a_organization:active, a.a_organization:visited {
    color: #fff
}

input:-webkit-autofill {
    background: none;
}

.pop-up input:-webkit-autofill, .pop-up textarea:-webkit-autofill, .pop-up select:-webkit-autofill!important{
    background: #fff none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #9eafc2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #9eafc2;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #9eafc2;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #9eafc2;
}

/* 表单提交按钮 **/
.v2-blue-btn {
    background: #0B83E0;
    color: white;
    font-size: 24px;
    width: 340px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    margin: 0 auto;
}

.v2-login, .v2-letterspace-3 {
    letter-spacing: 3px;
}

.v2-letterspace-2 {
    letter-spacing: 2px;
}

.v2-white-btn {
    width: 340px;
    height: 50px;
    background: white;
    line-height: 50px;
    border-radius: 4px;
    margin: 0 auto;
    color: black;
    font-size: 24px;
    border: 1px solid #bfc7d1;
    box-shaddow: 2px 0px 2px #e3e3e3;
}

.v2-border {
    border: 1px solid #bfc7d1;
    border-radius: 4px;
    background: white;
}

/* 表单提交按钮end **/
/*弹层右上角按钮**/
.LightBox-right-top {
    position: absolute;
}

.LightBox-close {
    float: right;
    clear: both;
    width: 31px;
    height: 31px;
    margin: 5px;
    background: url(/v2/js/module/user/images/close.png) no-repeat center;
    cursor: pointer;
    font-size: 30px;
}

.LightBox-btns .LightBox-login, .LightBox-btns .LightBox-regist {
    width: 109px;
    height: 48px;
    clear: both;
    float: right;
    cursor: pointer;
    line-height: 48px;
    text-align: center;
    font-size: 20px;
    color: #3d84c6;
    font-family: "microsoft yahei";
    background: #FFFFFF;
    border: 1px solid #b3dbc8;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

/*弹层右上角按钮end **/